@import "~bootstrap/scss/bootstrap.scss";

div {
    text-align: center;
}

.input {
    border-radius: 10px;
}
body {
    background: lightblue;
    padding-top: 50px;
}

.date {
    padding-left: 20px;
    margin-top: 10px;
    padding-top: 30px;
}
